.profilepic{
    width: 230px;
    height: 230px;
    border-radius: 800px;
    
    margin-bottom: 10px;
   
}

.containerdetail{
    display: flex;
    
    justify-content: space-around;
    padding-top: 40px;
    
    border-bottom: 1.5px solid rgb(39, 39, 39,.5);
    /* border-image: gradient(linear, red ,blue); */

    
   

}
.pop-container{
   
    /* position: absolute; */
    height: 50px;
    width: 50px;
    z-index: 5;
}   


.followcontainer{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
    
    
    
}

.infocontainer{
    
    
    padding: 20px;
}

.followtext{
    font-weight: 500;
    font-size: smaller;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 1px 5px;
    text-align: center;
    
    padding: 10px;
}
.imagecontainer{
    column-count: 3;
    column-gap: 10px;
    padding: 5px;
    position: relative;
    break-inside: avoid;
    

}

.image{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    
}
/* .image:hover{
    transform: scale(1.1);
    transition-duration: .3s;
    
} */

.follow-button{
    /* background-color: #0b628a ; */
    color: white;
    
    padding: 5px;
    text-align: center;
    margin: 15px 0px;
    box-shadow: 0px 5px 5px #888888;
    cursor: pointer;
    background-color: #0b628a ;
    border-radius: 5px;
}
.follow-button:hover{
    background-color: teal;
    transition-duration: .3s;
    
}
.profile-container{
    display: flex;
    flex-direction: column;
}
.log-button{
    color: white;
    
    padding: 5px 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #888888;
    cursor: pointer;
    background-color: #0b628a ;
    text-decoration: none;
    

}
.log-button:hover{
    background-color: teal;
    transition-duration: .3s;
    
}
.log-button-container{
    
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card-container{
    break-inside: avoid;
    
    padding :5px 0;
    box-shadow: 0px 10px 15px grey;
}
.profile-content-container{
    padding: 5px;
    display: flex;
    flex-direction: column;
}  
.profile-card-likes{
    opacity: .8;
} 
.profile-card-title{
    font-size: large;
    font-family: montserrat;
}
.profile-card-desc{
    font-family: "roboto";
    opacity: .8;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: .3s;
    
}
.profile-card-desc:hover{
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition-duration: .3s;
}    

    

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #0b628a; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translate(-50%);
    width: 100hw;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media only screen and (max-width: 600px) {
    .containerdetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        width: 100%;
        text-align: center;
        
        border-bottom: 1.5px solid rgb(39, 39, 39,.5);
        /* border-image: gradient(linear, red ,blue); */
    
        
       
    
    }
    .profile-container{
       display: flex;
       
       justify-content: center;
       align-items: center;
    }
    
    .up-button{
        
        padding: 5px;
        ;
        border-radius: 10px;
        
    }
    .input-filea{
        display: none;
        width: 50%;
    }
  }